
$primary-color: #27AE60;
$primary-color-light: #24a55b;
$primary-color-dark: #178847;
$secondary-color: blue;
$label-color:#606060;
$border-color: #dedede;

/* Text Colors */
$primary-text-color: #4a4a4a;
$secondary-text-color: #606060;
$text-light-color: #fff;
