@font-face {
  font-family: 'afet-font';
  font-style: normal;
  font-weight: 400;
  src: url("afet-font.eot?48efae43e3fadecd08882fbea868a06a?#iefix") format("embedded-opentype"),
url("afet-font.woff2?48efae43e3fadecd08882fbea868a06a") format("woff2"),
url("afet-font.woff?48efae43e3fadecd08882fbea868a06a") format("woff");
}

.afet-icons, .afet-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.afet-icons {
  width: 1em;
  height: 1em;
  position: relative;
  fill: currentColor;
}

.afet-icons {
  font-family: 'afet-font';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.afet-caret-up:before { content: "\f101"; }
.afet-caret:before { content: "\f102"; }
.afet-close:before { content: "\f103"; }
.afet-education:before { content: "\f104"; }
.afet-ellipsis:before { content: "\f105"; }
.afet-facebook:before { content: "\f106"; }
.afet-google:before { content: "\f107"; }
.afet-instagram:before { content: "\f108"; }
.afet-job:before { content: "\f109"; }
.afet-mailbox:before { content: "\f10a"; }
.afet-phone:before { content: "\f10b"; }
.afet-plus:before { content: "\f10c"; }
.afet-psycho:before { content: "\f10d"; }
.afet-report:before { content: "\f10e"; }
.afet-search:before { content: "\f10f"; }
.afet-share:before { content: "\f110"; }
.afet-shelter:before { content: "\f111"; }
.afet-twitter:before { content: "\f112"; }
.afet-youtube:before { content: "\f113"; }
